.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Quicksand", sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 450px;
  background-color: #f1f2fa;
  border-radius: 7px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  color: #1a237e;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 195px;
}
.card .img img {
  height: 120px;
  border-radius: 100%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  text-align: center;
}
.card .info .name {
  font-size: 30px;
}
.card .info .job {
  font-size: 20px;
  color: #3f51b5;
}
.card .button {
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 17px;
  color: #3f51b5;
  border-radius: 0 0 7px 7px;
}
.card .button button {
  all: unset;
  padding: 0;
  width: 49%;
  transition: all 0.2s;
  cursor: pointer;
}
.card .button button:first-child {
  border-right: 2px solid #ecf0f1;
}
.card .button button:hover {
  font-size: 19px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}
